* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	background-color: #0e0e0e;
}

.image-web {
	position: absolute;
	width: 100%;
	height: 100vh;
}

.image-mobile {
	display: none;
}

.mobile-menu {
	display: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	padding: 18px 0;
	position: fixed;
	top: 34px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(6px);
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #4141419f;
	z-index: 999;
}

.logo-img {
	width: 18vh;
	height: auto;
	margin-left: 22px;
}

span {
	color: #10b2aa;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: none;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 17px;
}

nav ul li a:hover {
	color: #10b2aa;
	transition: .4s;
}

.content {
	width: 85%;
	margin-top: 30vh;
	padding: 10px 0;
	z-index: 1;
}

h1 {
	color: white;
	font-size: 75px;
}

h3 {
	color: white;
	font-size: 25px;
	letter-spacing: 2px;
	margin-top: 2px;
}

h4 {
	color: rgb(163, 163, 163);
	font-size: 20px;
	margin-bottom: 13px;
}

.about {
	width: 100%;
	padding: 160px 0px 100px 0px;
	background-color: #0e0e0e;
	margin-top: 60vh;
}

.main-mobile {
	display: none;
}

.about img {
	height: auto;
	width: 665px;
}

.about-img,
.about-text h2,
.about-text h5,
.about-text p,
.box,
.content,
.more-content,
#content-footer {
	visibility: hidden;
}

.about-text {
	width: 660px;
}

.main {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	color: rgb(163, 163, 163);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.slider {
	height: 500px;
	margin: auto;
	position: relative;
	width: 90%;
	display: grid;
	place-items: center;
	overflow: hidden;
	background-color: #1f1f1f;
	margin-top: 50px;
}

.slide-track {
	display: flex;
	width: calc(550px * 18);
	animation: scroll 50s linear infinite;
}

.slide-track:hover {
	animation-play-state: paused;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 9));
	}
}

.slide {
	height: 420px;
	width: 550px;
	display: flex;
	align-content: center;
	padding: 16px;
	perspective: 250px;
	overflow: clip;
}

img {
	width: 100%;
	transition: transform 1s;
}

img:hover {
	transform: translateZ(20px);
}

.slider::before,
.slider::after {
	background: linear-gradient(to right, rgba(14, 14, 14, 1)0%, rgba(14, 14, 14, 0)100%);
	content: '';
	height: 100%;
	position: absolute;
	width: 15%;
	z-index: 2;
}

.slider::before {
	left: 0;
	top: 0;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.service {
	background: #0e0e0e;
	width: 100%;
	padding: 150px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 20px 0px;
}

.box2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 80px 20px 0px;
}

.card {
	height: 345px;
	width: 300px;
	padding: 0 20px;
	background: #191919;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px 45px 0;
	transition: 0.5s;
	text-align: center;
}

.card:hover {
	height: 355px;
	width: 310px;
	background: #191919;
	padding: 0 27px;
	border-style: solid;
	border-width: 1px;
	border-color: #10b2aa;
}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 25px;
	line-height: 1.2;
}

.pra p {
	color: rgb(163, 163, 163);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.more {
	display: flex;
	justify-content: center;
	padding: 130px 0 190px 0;
	width: 90%;
	background-color: #0e0e0e;
}

.more-img {
	height: auto;
	width: 370px;
	margin-right: 34px;
	border: 1px solid;
	border-color: #191919;
	box-shadow: 4px 9px 7px #272727;
}

.more-content {
	width: 90vh;
	margin-top: 30px;
}

.name {
	color: white;
	font-size: 40px;
	margin-bottom: 8px;
}

.about-name {
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
	margin-bottom: 20px;
}

.more-text {
	color: rgb(163, 163, 163);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 15px;
}

.content-video {
	width: 100%;
	background: #1f1f1f;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
}

.video {
	width: 980px;
	height: 770px;
}

footer {
	position: relative;
	width: 100%;
	height: 500px;
	background: #0e0e0e;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 10px;
}

.content-footer {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 200px;
	justify-content: center;
}

.title-footer {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

.description-footer {
	color: white;
	font-size: 17px;
	line-height: 26px;
}

#content-footer {
	flex-direction: row;
	display: flex;
	align-items: center;
}

.line {
	width: .6px;
	height: 200px;
	background-color: rgba(223, 223, 223, 0.658);
	margin-left: 15px;
}

.contato {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 50px;
	height: 180px;
	justify-content: center;
}

.numero {
	font-size: 17px;
	color: white;
	margin-bottom: 18px;
}

.gmail {
	font-size: 17px;
	color: white;
	text-decoration: underline;
}

.social {
	display: flex;
	width: 200px;
	height: 60px;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

.youtube {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #df0000;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.instagram {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #c000b6;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.whats {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #00b42d;
	border-radius: 50%;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.3);
	transition: .5s;
}

.end {
	position: absolute;
	color: #10b2aa;
	bottom: 30px;
	font-size: 14px;
}

.mobile-menu.active {
	transform: translateX(0);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 913px) {
	body {
		overflow-x: hidden;
	}

	.menu {
		display: flex;
	}

	.img-menu {
		width: 28px;
		height: auto;
		margin-right: 24px;
		margin-top: 5px;
	}

	.img-menu i {
		color: #fff;
	}

	.image-mobile {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100vh;
	}

	.image-web {
		display: none;
	}

	.mobile-menu {
		z-index: 999;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 60vw;
		height: 100vh;
		background-color: #191919;
		flex-direction: column;
		padding: 17vh 0 0 5vh;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in;
	}

	.mobile-menu ul li a {
		color: white;
		text-decoration: none;
		font-weight: bold;
		text-transform: capitalize;
		font-size: 22px;
	}

	.mobile-menu ul li {
		margin-top: 50px;
		opacity: 0;
	}

	nav ul li {
		display: none;
	}

	.content {
		margin-top: 38vh;
	}

	h4 {
		font-size: 12px;
	}

	h1 {
		font-size: 42px;
	}

	h3 {
		font-size: 17px;
	}

	.about {
		padding: 160px 0px 40px 0px;
		margin-top: 60vh;
	}

	.box {
		flex-direction: column;
		margin: 0px 20px 0 0;
	}

	.box2 {
		flex-direction: column;
		margin: 0px 20px 0 0;
	}

	.card {
		height: 320px;
		width: 270px;
		margin: 0px 45px 30px;
	}

	.title h2 {
		margin-bottom: 18px;
	}

	.card:hover {
		border-style: solid;
		border-width: 1px;
		border-color: #10b2aa;
		height: 320px;
		width: 270px;
		padding: 0 20px;
	}

	h5 {
		font-size: 23px;
	}

	.pra p {
		font-size: 16px;
	}

	#footer {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.social {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 1746px) {
	.main {
		display: none;
	}

	.main-mobile {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.about-mobile img {
		height: auto;
	}

	.about-text-mobile {
		justify-content: center;
		align-items: center;
		width: 90%;
		text-align: center;
	}

	.about-text-mobile h2 {
		color: white;
		font-size: 75px;
		text-transform: capitalize;
		margin-bottom: 20px;
	}

	.about-text-mobile h5 {
		color: white;
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 25px;
		margin-top: 20px;
		text-transform: capitalize;
	}

	.about-text-mobile p {
		color: rgb(163, 163, 163);
		letter-spacing: 1px;
		line-height: 28px;
		font-size: 18px;
	}
}

@media screen and (max-width: 1392px) {
	.main {
		flex-direction: column;
	}
}

@media screen and (max-width: 531px) {

	.about {
		padding: 140px 0px 30px 0px;
		margin-top: 48vh;
	}

	.about-text-mobile h2 {
		font-size: 55px;
	}

	.about-text-mobile h5 {
		font-size: 20px;
	}

	.about-text-mobile p {
		font-size: 15px;
	}

	.title h2 {
		font-size: 55px;
	}
}

@media screen and (max-width: 447px) {
	.title h2 {
		font-size: 48px;
	}

	.slider {
		height: 260px;
		margin-top: 60px;
	}

	.slide-track {
		width: calc(280px * 18);
	}

	.slide {
		height: 230px;
		width: 280px;
		perspective: 180px;
	}

	.slider::before,
	.slider::after {
		background: linear-gradient(to right, rgba(14, 14, 14, 1)0%, rgba(14, 14, 14, 0)0%);
	}

}

@media screen and (max-width: 400px) {

	.about-text-mobile h2 {
		font-size: 50px;
	}
}

@media screen and (max-width: 541px) {
	.title h2 {
		font-size: 60px;
	}
}

@media screen and (max-width: 415px) {
	.title h2 {
		font-size: 45px;
	}
}

@media screen and (max-width: 400px) {
	.title h2 {
		font-size: 43px;
	}
}

@media screen and (max-width: 379px) {
	.title h2 {
		font-size: 43px;
	}
}

@media screen and (max-width: 883px) {
	.more {
		padding: 140px 0px 180px 0px;
		width: 90%;
	}

	.about-name {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.more-text {
		font-size: 13px;
	}
}

@media screen and (max-width: 796px) {
	.more {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.more-img {
		width: 340px;
		margin-right: 0px;
	}

	.name {
		font-size: 35px;
	}
}

@media screen and (max-width: 796px) {
	.more {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.more-img {
		width: 320px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 361px) {
	.more-img {
		width: 310px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 1030px) {
	.video {
		width: 800px;
		height: 600px;
	}
}

@media screen and (max-width: 845px) {
	.video {
		width: 700px;
		height: 500px;
	}
}

@media screen and (max-width: 738px) {
	.video {
		width: 600px;
		height: 400px;
	}
}

@media screen and (max-width: 628px) {
	.video {
		width: 500px;
		height: 300px;
	}
}

@media screen and (max-width: 534px) {
	.content-video {
		padding: 20px 0;
	}

	.video {
		width: 480px;
		height: 280px;
	}
}

@media screen and (max-width: 514px) {
	.video {
		width: 450px;
		height: 250px;
	}
}

@media screen and (max-width: 476px) {
	.video {
		width: 420px;
		height: 220px;
	}
}

@media screen and (max-width: 418px) {
	.video {
		width: 400px;
		height: 200px;
	}
}

@media screen and (max-width: 361px) {
	.video {
		width: 380px;
		height: 180px;
	}
}

@media screen and (max-width: 713px) {
	#content-footer {
		flex-direction: column;
	}

	.content-footer {
		text-align: center;
		height: 160px;
	}

	.line {
		width: 70%;
		height: .6px;
		margin-left: 0px;
	}

	.contato {
		flex-direction: row;
		margin: 12px 0px 0px 0px;
		height: 80px;
		width: 62vh;
		align-items: center;
		justify-content: space-evenly;
		top: 15px;
	}

	.numero {
		margin-bottom: 0px;
		margin-top: 0px;
	}
}

@media screen and (max-width: 532px) {
	#footer {
		padding: 0px 15px;
	}

	.title-footer {
		font-size: 24px;
	}

	.description-footer {
		font-size: 14px;
	}

	.numero {
		font-size: 14px;
	}

	.gmail {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	.title-footer {
		font-size: 24px;
	}

	.contato {
		flex-direction: column;
	}
}